@page "/equipe/{id}/{excluir:bool}"
@page "/equipe/{excluir:bool}"

@if (string.IsNullOrEmpty(Id))
{
    <h3>Nova Equipe</h3>
}
else
{
    <h3>Alteração Equipe</h3>
}

<form>
    <div class="form-group">
        <label for="descricao">Descrição: </label>
        <input type="text" id="descricao" for="descricao" class="form-control" @bind="Equipe.Descricao">
    </div>

    <div class="form-group">
        <label for="datacadastro">Cadastro: </label>
        @if (SomenteLeitura)
        {
        <input type="date" id="datacadastro" class="form-control" @bind="Equipe.DtCadastro" readonly></input>
        }
        else
        {
        <input type="date" id="datacadastro" class="form-control" @bind="Equipe.DtCadastro"></input>
        }
    </div>
    <br />
    <div class="form-group">
        @if (string.IsNullOrEmpty(Id))
        {
            <input type="button" class="btn btn-primary" @onclick="@AdicionarEquipe" value="Salvar" />
        }
        else
        {
            @if (Excluir == false)
            {
                <input type="button" class="btn btn-primary" @onclick="@AtualizarEquipe" value="Salvar" />
            }
            else
            {
                <input type="button" class="btn btn-danger" @onclick="@ApagarEquipe" value="Excluir" />
            }
        }

        <input type="button" class="btn" @onclick="@RetornarLista" value="Retornar" />
    </div>
</form>